.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

* {
  margin: 0%;
  padding: 0%;
}
.hero-wrapper {
  background-color: #1f2937;
  padding-inline: 120px;
  height: 80vh;
}
a {
  color: aliceblue;
  text-decoration: none;
}

.nav {
  padding-block: 2rem;
  width: 100wh;
  color: aliceblue;
}
.nav ul {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  padding: 0%;
  margin: 0;
  color: #e5e7eb;
  gap: 0.7rem;
}

li {
  font-size: 18px;
}

li.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.text-cta {
  color: #e5e7eb;
  font-size: 18px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-text {
  font-size: 48px;
  color: #f9faf8;
}

.btn {
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  padding: .5rem 2.5rem;
  color: #e5e7eb;
  font-size: 16px;

}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.inspiration {
    display: flex;
    flex-direction: column;

}
.heading {
    font-size: 36px;
    color: #1f2937;
    align-self: center;
    margin-block: 3rem;
}

.img-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.imgs {
    width: 250px;
    height: 250px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    overflow: hidden;
}

.imgs img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


